{% extends "layout.html" %}


{% block head %}
<title> Permit generator </title>
{% endblock %}

{% block body %}

  <div class="container-fluid bg-1 text-center">



    <h1>Permit Generator</h1>


    <div class="col-sm-2">
        <a href="/heavylift">
          <img src="static/img/heavy-lift.png" alt="heavy lifting" style="width:100%">
        </a>
    </div>

    <div class="col-sm-2">
        <a href="/firewatch">
          <img src="static/img/fire.png" alt="fire watch" style="width:100%">
        </a>
    </div>

    <div class="col-sm-2">
        <a href="/database">
          <img src="static/img/database.png" alt="database" style="width:100%">
        </a>
    </div>


  </div>

{% endblock %}
