{% extends "layout.html" %}


{% block head %}
<title> Permit generator </title>
{% endblock %}

{% block body %}

  <div class="container-fluid bg-1 text-center">



    <h1>Permit Generator</h1>



    <div class="row">

      <div class="col-lg-3 col-md-3 col-xs-12 thumb">
          <a class="thumbnail" href="/heavylift">
            <img class="img-responsive" src="static/img/heavy-lift.png" alt="heavy lifting">
          </a>
      </div>

      <div class="col-lg-3 col-md-3 col-xs-12 thumb">
          <a class="thumbnail" href="/firewatch">
            <img class="img-responsive" src="static/img/fire.png" alt="fire watch">
          </a>
      </div>

      <div class="col-lg-3 col-md-3 col-xs-12 thumb">
          <a class="thumbnail" href="/database">
            <img class="img-responsive" src="static/img/database.png" alt="database">
          </a>
      </div>

      <div class="col-lg-3 col-md-3 col-xs-12 thumb">
          <a class="thumbnail" href="/login">
            <img class="img-responsive" src="static/img/login.png" alt="login">
          </a>
      </div>

  </div>



</div>


{% endblock %}
